@charset "utf-8";
@import "./reset.css";

#app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #202020;
  color: white;
  font-family: system-ui;
  line-height: 1.2;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
  min-width: 500px;
}

header {
  background-color: #252525;
  height: 100%;
}

nav,
figure {
  margin-top: 5%;
}

figure {
  text-align: center;
}

nav ul li,
.name {
  display: flex;
  align-items: center;
}

nav ul li {
  justify-content: space-around;
  padding: 3%;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

nav ul li span,
.user,
.form button:hover {
  background-color: #4267B2;
}

nav ul li span {
  border-radius: 50px;
  width: 2rem;
  text-align: center;
}

nav ul li::before,
.name::before {
  content: "";
  display: inline-flex;
  height: 30px;
  width: 30px;
  background: url("../assets/Photo_CV.jpg") no-repeat;
  background-size: 100%;
  border-radius: 50px;
}

nav ul li:hover {
  background-color: grey;
  transition-duration: 200ms;
  cursor: pointer;
}

.profile-picture {
  height: 200px;
  text-align: center;
  margin-bottom: 1%;
}

main ul {
  margin-top: 1%;
  width: 100%;
  height: 78vh;
  overflow-y: scroll;
}

.bot,
.form input {
  background-color: #323232;
}

.bot {
  border-radius: 20px;
  margin: 1%;
  padding: 2%;
  margin-right: 60%;
}

.bot-infos {
  margin-bottom: 2%;
}

.name {
  flex-direction: row;
}

.name::before {
  margin: 0px 1% 0px 2%;
}

.bot-infos .date-message {
  opacity: .5;
  margin: -0.5% 0px 0px 2%;
}

.user-infos {
  margin-bottom: 2%;
}

.user-infos .date-message {
  opacity: .5;
  margin: -0.5% 0px 0px 61%;
}

.user {
  border-radius: 20px;
  margin: 1%;
  padding: 2%;
  margin-left: 60%;
}

main .contact-name {
  padding: 2%;
  background-color: #252525;
  margin-top: 1%;
}